/csharp/ScriptBuilder/bin/
/csharp/ScriptBuilder/obj/
/csharp/ScriptBuilder.Tests/bin/
/csharp/ScriptBuilder.Tests/obj/
/csharp/.vscode/

/java/target/
/java/.settings/
/java/.classpath
/java/.project

/javascript/node_modules/
/javascript/.vscode/
